<nav role="navigation">
  <ul>
    <li><a href="{{ site.baseurl }}/" {% if page.url == "{{ site.baseurl }}/" %}class="active"{% endif %}>Main</a></li>
    <li><a href={{"/coding_katas" | relative_url }} {% if page.url == {{"/coding_katas" | relative_url }} %}class="active"{% endif %}>Code Katas</a></li>
    <li><a href={{"/testing" | relative_url }} {% if page.url == {{"/testing" | relative_url }} %}class="active"{% endif %}>Testing</a></li>
    <li><a href={{"/practice" | relative_url }} {% if page.url == {{"/practice" | relative_url }} %}class="active"{% endif %}>Practice</a></li>
    <li><a href={{"/about" | relative_url }} {% if page.url == {{"/about" | relative_url }} %}class="active"{% endif %}>About Me</a></li>
  </ul>
</nav>
