<nav role="navigation">
  <ul>
    <li><a href="{{ site.baseurl }}/" {% if page.url == "{{ site.baseurl }}/" %}class="active"{% endif %}>Main</a></li>
    <li><a href={{'/katas' | relative_url }} {% if page.url == "/katas" %}class="active"{% endif %}>Code Katas</a></li>
    <li><a href={% link /_pages/testing.md %} {% if page.url == "/about" %}class="active"{% endif %}>Testing</a></li>
    <li><a href={{"/practice" | absolute_url }} {% if page.url == "/projects" %}class="active"{% endif %}>Practice</a></li>
    <li><a href="{{ site.baseurl }}/about" {% if page.url == "{{ site.baseurl }}/about" %}class="active"{% endif %}>About Me</a></li>
  </ul>
</nav>
