<div class="sidebar">
<h3>General</h3>
<ul>
  <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Main</a></li>
  <li {% if page.url == "/practice" %}class="active"{% endif %}><a href={{"/practice" | relative_url }}>Practice Being Nervous</a></li>
  <li {% if page.url == "/collaboration" %}class="active"{% endif %}><a href={{"/collaboration" | relative_url }}>Communication</a></li>
  <li {% if page.url == "/failure" %}class="active"{% endif %}><a href={{"/failure" | relative_url }}>Embrace Failure</a></li>
</ul>
<h3>Coding</h3>
<ul>
  <li {% if page.url == "/code-katas" %}class="active"{% endif %}><a href={{"/code-katas" | relative_url }}>Code Katas</a></li>
  <li {% if page.url == "/modularization" %}class="active"{% endif %}><a href={{"/modularization" | relative_url }}>Helper Functions</a></li>
  <li {% if page.url == "/testing" %}class="active"{% endif %}><a href={{"/testing" | relative_url }}>Testing</a></li>
</ul>
</div>

